/* main styles for christianjohnlabs.com
** Colors Pallet in hex **
* white #ffffff
* dark green #00554F
*/

/* global */
html, body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;

}

.display{
    display: none;
}

h1{
    margin: 0;
    padding: 5% 0 1% 0 ;
    font-size: 6em;
    color: #ffffff;
    text-align: center;
}

p{
    text-align: center;
    font-size: 1em;
    line-height: 1em;
}
/* pages */
#welcome{
    position: relative;
    background: url("../imgs/lab-1400x760.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
}

#who{
     background-color: #CCEEEB;
     width: 100%;
     height: 100vh;
 }

#what{
    background-color: aqua;
    width: 100%;
    height: 100vh;
}

#projects{
    background-color: #CCEEEB;
    width: 100%;
    height: 100vh;
}

#contacts{
    background-color: aqua;
    width: 100%;
    height: 100vh;
}

/* structure */
.navigation{
    position: fixed;
    width: 100%;
    height: 10vh;
    padding: 1vh 0;
    background: rgba(0, 85, 79, 0.8);
    transition: 0.35s all ease;
}

.brand{
    display: inline-block;
    height: 100%;
    margin-left: 5%;
}

.brand img{
    height: 100%;
    transition: 0.35s all ease;
}

.brand_name{
    display: inline-block;
    margin-right: 5%;
    vertical-align: top;
    line-height: 10vh;
}

.navLinks{
    margin-right: 5%;
    line-height: 10vh;
    display: inline-block;
    float: right;
}

.navigation ul{
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

.navigation li {
    display: inline-block;
    padding: 0 1em;
}

.navigation ul a{
    color: white;
    text-decoration: none;
    font-size: 1.5em;
}

.navigation ul a:hover{
    color: #33BAB1;
    padding: .25em 0 ;
    border-bottom: solid .15em #33BAB1;
}

/* NAVIGATION SCROLL*
* updates navigation bar height*/
.scrolled{
    height: 5vh;
    transition: 0.35s all ease;
}

/* update navigation bar line height for nav links*/
.navLinks_scrolled{
    line-height: 5vh;
}

/* update navigation bar line height for brand name*/
.brand_name_scrolled{
    line-height: 5vh;
}

.scrollNotification{
    position: absolute;
    width: 100%;
    height: 20%;
    bottom: 0;
    text-align: center;
    font-size: 5em;
}


.fa-chevron-down{
    padding: 0 1.3% 0 0;
    color: #007F76;
    /* animation for moving arrow downward */
    animation-name: pulsing-arrow;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    -webkit-animation-name: pulsing-arrow; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1.5s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
}

@keyframes pulsing-arrow {
    0%{margin-top: 2%}
    60%{margin-top: 5%}
    100%{margin-top: 2%}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes pulsing-arrow{
    0%{margin-top: 2%}
    60%{margin-top: 5%}
    100%{margin-top: 2%}
}

/* who content */


/* project content */

#elements_table{
    display: table;
    margin: 0 auto;

}

.row{
    display: table-row;
}

.column{
    display: table-cell;
}

.element{
    width: 12vw;
    background-color: #00A89C;
    margin: .25vw;
}

.element:after{
    content: '';
    display: block;
    padding-bottom: 100%;
}

.element:hover{
    background-color: #33BAB1;
}

.last{
    position: relative;
    left: 25vw;
}