/* main styles for christianjohnlabs.com

** color-palette color desc | hex | rgb **

*  white green | #cceeeb | r-204 g-238 b-235
*  pastel green | #99ddd8 | r-153 g-221 b-216
*  sea foam green | #66cbc4 | r-102 g-203 b-196

*  light greenish cyan | #33bab1 | r-51 g-186 b-177

*  greenish cyan | #00a99d | r-0 g-169 b-157
*  darker shade | #007f76 | r-0 g-127 b-118
*  darker | #00554f | r-0 g-85 b-79
*  darkest | #002a27 | r-0 g-42 b-39
*/

/* global */
html, body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

/* removes outlines for links in firefox */
a:focus {
    outline: none;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.visibility{
    display: none;
}

/* Navigation */
.navigation{
    position: fixed;
    width: 100%;
    height: 10vh;
    padding: 1vh 0;
    background: rgba(0, 127, 118, 0.8);
    transition: 0.35s all ease;
    z-index: 5;
}

.brand{
    display: inline-block;
    height: 100%;
    margin-left: 5%;
}

.brand img{
    height: 100vh;
    transition: 0.35s all ease;
    -ms-transform: scale(1); /* IE 9 */
    -webkit-transform: scale(1); /* Safari */
    transform: scale(1); /* Standard syntax */
}

.brand img:hover{
    height: 100%;
    transition: 0.35s all ease;
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari */
    transform: scale(1.1); /* Standard syntax */
}

.brand_text{
    display: inline-block;
    margin-left: 1vw;
    vertical-align: top;
    line-height: 10vh;
    font-size: 1.5vw;
}

.navLinks{
    margin-right: 5%;
    line-height: 10vh;
    display: inline-block;
    float: right;
}

.navigation ul{
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

.navigation li{
    display: inline-block;
    padding: 0 1em;
}

.navigation ul a{
    color: #cceeeb;
    text-decoration: none;
    font-size: 1.3vw;
    padding-bottom: .10vh;
}

.nav_link_highlight{
    border-bottom: .5vh solid #C544B4;
}

.navLinks ul a:hover{
    color: #C544B4;
}


/* Navigation SCROLL
* changes the size of nav elements according to height
*/

.scrolled{
    height: 5vh;
    transition: 0.35s all ease;
}

/* update navigation bar line height for nav links*/
.navLinks_scrolled {
    line-height: 5vh;
}

/* update navigation bar line height for brand name*/
.brand_text_scrolled{
    line-height: 5vh;
}

/***  WELCOME page ***/

#welcome{
    position: relative;
    background: url("../imgs/lab-1400x760.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    min-height: 100vh;
}

/***  WELCOME content ***/

.scrollNotification{
    position: absolute;
    width: 100%;
    height: 20%;
    bottom: 0;
    text-align: center;
    font-size: 5em;
}

/* Animated Arrow on landing page */
.fa-chevron-down{
    padding: 0 1.3% 0 0;
    color: #007f76;
    /* animation for moving arrow downward */
    animation-name: pulsing-arrow;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    -webkit-animation-name: pulsing-arrow; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1.5s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
}

@keyframes pulsing-arrow{
    0%{margin-top: 2%}
    60%{margin-top: 5%}
    100%{margin-top: 2%}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes pulsing-arrow{
    0%{margin-top: 2%}
    60%{margin-top: 5%}
    100%{margin-top: 2%}
}

/*
***********************************
WHO page
***********************************
*/

#who{
    background-color: #ffffff;
    width: 100%;
    height: 100%;
}

/***  WHO content ***/

/* Who text */

#who h1{
    font-family: 'Oswald', sans-serif;
    font-size: 3em;
    line-height: 1.5em;
    font-weight: 300;
    padding: 5% 13% 1% 13%;
    margin: 0;
    color: #33bab1;
    text-align: center;
}

.main_heading{
    font-size: 2em;
    font-weight: 700;
}

.sub_heading{
    font-size: 1.5em;
    font-weight: 400;
}

.std_text{
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
    font-weight: 300;
    line-height: 1.5em;
    margin: 0;
    padding: 2% 20% 4% 20%;
    color: #33bab1;
    text-align: justify;
}

.interest_text{
    font-family: 'Heebo', sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    padding: 10% 10% 10% 10%;
    color: #33bab1;
}
/* animations for web skills to scale beyond set scroll marker */

.skills_group{
    text-align: center;
}

.skill_1{
    display: inline-block;
    padding: 0 10px;
    width: 5vw;
    margin: 0 auto;
    overflow: hidden;
    background: url(../imgs/dataBase_single_icon.png) no-repeat;
    background-size: contain;
    transition: all .5s ease-in-out;
    -ms-transform: scale(0); /* IE 9 */
    -webkit-transform: scale(0); /* Safari */
    transform: scale(0); /* Standard syntax */
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
}

.skill_2{
    display: inline-block;
    padding: 0 10px;
    width: 5vw;
    margin: 0 auto;
    overflow: hidden;
    background: url(../imgs/angular_single_icon.png) no-repeat;
    background-size: contain;
    transition: all .5s ease-in-out;
    -ms-transform: scale(0); /* IE 9 */
    -webkit-transform: scale(0); /* Safari */
    transform: scale(0); /* Standard syntax */
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
}

.skill_3{
    display: inline-block;
    padding: 0 10px;
    width: 5vw;
    margin: 0 auto;
    overflow: hidden;
    background: url(../imgs/html5_single_icon.png) no-repeat;
    background-size: contain;
    transition: all .5s ease-in-out;
    -ms-transform: scale(0); /* IE 9 */
    -webkit-transform: scale(0); /* Safari */
    transform: scale(0); /* Standard syntax */
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.skill_4{
    display: inline-block;
    padding: 0 10px;
    position: relative;
    width: 5vw;
    overflow: hidden;
    background: url(../imgs/js_single_icon.png) no-repeat;
    background-size: contain;
    transition: all .4s ease-in-out;
    -ms-transform: scale(0); /* IE 9 */
    -webkit-transform: scale(0); /* Safari */
    transform: scale(0); /* Standard syntax */
}

.skill_5{
    display: inline-block;
    padding: 0 10px;
    width: 5vw;
    margin: 0 auto;
    overflow: hidden;
    background: url(../imgs/jQuery_single_icon.png) no-repeat;
    background-size: contain;
    transition: all .5s ease-in-out;
    -ms-transform: scale(0); /* IE 9 */
    -webkit-transform: scale(0); /* Safari */
    transform: scale(0); /* Standard syntax */
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.skill_6{
    display: inline-block;
    padding: 0 10px;
    position: relative;
    width: 5vw;
    overflow: hidden;
    background: url(../imgs/gitHub_single_icon.png) no-repeat;
    background-size: contain;
    transition: all .5s ease-in-out;
    -ms-transform: scale(0); /* IE 9 */
    -webkit-transform: scale(0); /* Safari */
    transform: scale(0); /* Standard syntax */
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
}

.skill_7{
    display: inline-block;
    padding: 0 10px;
    position: relative;
    width: 5vw;
    overflow: hidden;
    background: url(../imgs/css_single_icon.png) no-repeat;
    background-size: contain;
    transition: all .5s ease-in-out;
    -ms-transform: scale(0); /* IE 9 */
    -webkit-transform: scale(0); /* Safari */
    transform: scale(0); /* Standard syntax */
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
}

.skill:before{
    content: "";
    display: block;
    padding-top: 100%;
}

.scale_object{
    -ms-transform: scale(1); /* IE 9 */
    -webkit-transform: scale(1); /* Safari */
    transform: scale(1); /* Standard syntax */
}

.work_computer{
    display: block;
    width: 30vw;
    margin: 0 auto;
    padding: 2vh 0 ;
}

/* container for inline  containers - col_50, col_100 */
.container{
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 0;
}

.col_100{
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 0;
}

.col_30{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top; /* prevent 2nd column from falling out of place */
    font-size: medium;
}

/* Responsive Who element box */
.element_box{
    position: relative;
    width: 15vw;
    margin: 0 auto;
    overflow: hidden;
    background: #00a99d;
    transition: 0.05s;
}

.element_box:before{
    content: "";
    display: block;
    padding-top: 100%;
}

/* centers element within element box */
.center_content{
    position:  absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.center_content div{
    display: table;
    width: 100%;
    height: 100%;
}

.center_content h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 5vw;
    display: table-cell;
    vertical-align: middle;
    color: #ffffff;
    text-align: center;
}

/* element text  */
.ele_desc{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5vw;
    position: absolute;
    right: 0;
    bottom: 10%;
    left: 0;
    color: #ffffff;
}

.ele_Num{
    font-family: 'Montserrat', sans-serif;
    font-size: 1vw;
    position: absolute;
    top: 3%;
    left: 3%;
    color: #ffffff;
}

/* caption area */
.caption{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4vw;
    margin: 0;
    box-sizing: border-box;
    background: rgba(204,238,235, 0.5);
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
}

/* caption formatting */
.caption p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.5vw;
    line-height: 2vw;
    padding: .5vw;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0;
    color: #00a99d;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0, 200%, 0);
    transform: translate3d(0, 200%, 0);
}

.caption a{
    color: #C544B4;
}

.caption a:hover{
    color: #007f76;
}

/* Hover effect for Photography */
.photo_ele:hover{
    background: url("../imgs/photography.png") no-repeat;
    background-color: #66cbc4;
    background-size: contain;
}

/* Hide Element descriptions */
.photo_ele:hover .center_content h2,
.photo_ele:hover .ele_desc,
.photo_ele:hover .ele_Num{
    display: none;
}

/* move caption box into view on hover */
.photo_ele:hover .caption,
.photo_ele:hover .caption p{
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

/* delay text from rising into view with caption box */
.photo_ele:hover .caption p{
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
}

/*Hover effect for Graphic Design */
.graphic_ele:hover{
    background: url("../imgs/penTool.png") no-repeat;
    background-color: #66cbc4;
    background-size: contain;
}

/* Hide Element descriptions */
.graphic_ele:hover .center_content h2,
.graphic_ele:hover .ele_desc,
.graphic_ele:hover .ele_Num{
    display: none;
}

/* move caption box into view on hover */
.graphic_ele:hover .caption,
.graphic_ele:hover .caption p{
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

/* delay text from rising into view with caption box */
.graphic_ele:hover .caption p{
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
}

/*
***********************************
WHAT page
***********************************
*/

#what{
    width: 100%;
    height: 100%;
}

.rel_container{
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

/***  WHAT content ***/

.what_intro{
    margin-bottom: -.25%;
    background-color: #33bab1;
    text-align: center;
    /*Required for IE
    * IE does not recognize font-size initial, consequently inheriting font-size 0 from .container
    */
    font-size: medium;
}

/*what_section title */
.what_heading{
    font-family: 'Oswald', sans-serif;
    font-size: 3em;
    font-weight: 500;
    margin: 0;
    padding: 3% 0 0 0;
    color: #cceeeb;
    text-align: center;
}

/*opening headline*/
.what_tag{
    font-family: 'Oswald', sans-serif;
    font-size: 2.5em;
    font-weight: 500;
    margin: 0;
    padding: 1% 15% 1% 15%;
    color: #ffffff;
    text-align: center;
}

/*closing headline*/
.what_closing{
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
    font-weight: 300;
    margin: 0;
    color: #ffffff;
    text-align: center;
}

/*closing paragraph*/
.what_desc{
    font-family: 'Heebo', sans-serif;
    font-size: 1em;
    margin: 0;
    padding: 1% 10% 3% 10%;
    color: #ffffff;
}

.rel_container:before{
    content: "";
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 0;
    height: 0;
    border-left: 2vw solid transparent;
    border-right: 2vw solid transparent;
    border-top: 2vw solid #33bab1;
    z-index: 5;
}

/* image collage side */
.col_50_image_container{
    display: inline-block;
    vertical-align: bottom;
    width: 50%;
    padding: 0;
    margin: 0;
    z-index: 0;
    font-size: 0;
}

/* code side */
.col_50_code_container{
    display: inline-block;
    text-align: left;
    width: 50%;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: #1d1f21;
    /*Required for IE
   * IE does not recognize font-size initial, consequently inheriting font-size 0 from .container
   */
    font-size: medium;
    overflow: hidden;
    z-index: 0;
}

.image_row_1{
    display: block;
    width: 100%;
    height:20vh;
}

/* images collage */

.rogue_image{
    position: relative;
    display: inline-block;
    width: 75%;
    height: 100%;
    background: url("../imgs/rogue-fighter-icon.png") no-repeat;
    background-size: 80%;
    background-color: #000000;
    overflow: hidden;
}

.lab_image{
    position: relative;
    display: inline-block;
    width: 25%;
    height: 100%;
    background: url("../imgs/cjlabs-logo.png") no-repeat;
    background-size: 95%;
    background-position: center;
    background-color: #66cbc4;
    overflow: hidden;
}

.image_row_2{
    display: block;
    width: 100%;
    height:30vh;
}

.vol_image{
    position: relative;
    display: inline-block;
    width: 45%;
    height: 100%;
    background: url("../imgs/voltron.png") no-repeat;
    background-size: 150%;
    background-position: right;
    overflow: hidden;
}

.arch_image{
    position: relative;
    display: inline-block;
    width: 30%;
    height: 100%;
    background: url("../imgs/archer-playing-card-back.png") no-repeat;
    background-position: top;
}

.casa_image{
    position: relative;
    display: inline-block;
    width: 25%;
    height: 100%;
    background: url("../imgs/space-cat-nasa.png") no-repeat;
    background-size: 90%;
    background-position: center;
    background-color: #ffffff;
    overflow: hidden;
}

.image_row_3{
    display: block;
    width: 100%;
    height:20vh;
}

.labs_card_image{
    position: relative;
    display: inline-block;
    width: 48%;
    height: 100%;
    background: url("../imgs/cjlabs-card.png") no-repeat;
    background-position: center;
    overflow: hidden;
}

.cat_a_image{
    position: relative;
    display: inline-block;
    width: 25%;
    height: 100%;
    background: url("../imgs/american-cat.png") no-repeat;
    background-size: 90%;
    background-position: center;
    background-color: #00395e;
    overflow: hidden;
}

.nexus_image{
    position: relative;
    display: inline-block;
    width: 27%;
    height: 100%;
    background: url("../imgs/nexus-5x-hard-reset-header.jpg") no-repeat;
    background-size: 90%;
    background-position: center;
    overflow: hidden;
}

.image_row_4{
    display: block;
    width: 100%;
    height:30vh;
}

.pb_droid_image{
    position: relative;
    display: inline-block;
    width: 20%;
    height: 100%;
    background: url("../imgs/imperial-probe-droid-volume.png") no-repeat;
    background-size: 100%;
    background-position: center;
    overflow: hidden;
}

.trooper_image{
    position: relative;
    display: inline-block;
    width: 80%;
    height: 100%;
    background: url("../imgs/first-order-trooper.jpg") no-repeat;
    background-size: 100%;
    background-position: center;
    overflow: hidden;
}

.cover{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(179, 179, 179, 0.5);
}

/* code section */

.language_js{
    display: block;
    padding: 0 2%;
    white-space: pre-line;
    color: #ffffff;
    line-height: 1.2em;
    font-size: 1em;
    font-family: 'Source Code Pro', Menlo, Consolas, Monaco, monospace;
}

.js_base{
    color: #a43d5a;
}

.js_comments{
    color: #77766d;
}

.js_varName{
    color: #51c8d0;
}

.js_functName{
    color: #8bc34a;
}

.js_parameter{
    color: #b86f23;
}

/*
***********************************
PROJECTS page
***********************************
*/

#projects{
    background-color: #33bab1;
    width: 100%;
    height: 100%;
    padding-bottom: 5%;
}

/* container for project selectors */
.project_selectors{
    width: 70%;
    margin: 0 auto;
    text-align: center;
    padding: 1% 0 1% 0;
}

/* container for the project title, purpose and description */
.project_carousel{
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}

/* PROJECT content */

/*project section title */
.project_heading{
    font-family: 'Oswald', sans-serif;
    font-size: 3em;
    font-weight: 500;
    margin: 0;
    padding: 3% 15% 0 15%;
    color: #cceeeb;
    text-align: center;
}

/* Horizontally organized square project icons*/
.project_selectors ul{
    display: inline-block;
    margin: 0;
    padding: 0;
}

.project_selectors li{
    display: inline-block;
    margin: 0;
    padding: 0;
}

/* Responsive element box for square project icons*/
.project_element {
    position: relative;
    width: 8vw;
    margin: 0 auto;
    overflow: hidden;
    background: #99ddd8;
    color: #00a99d;
}

.project_element:before{
    content: "";
    display: block;
    padding-top: 100%;
}

/* colors for square project icons */
.project_element:hover{
    background: #cceeeb;
}

.project_element:nth-child(2n +2){
    background: #66cbc4;
}

.project_element:nth-child(2n +2):hover{
    background: #007f76;
}

/* square project icons text */
/* element title */
.center_content h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 2vw;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

/* element number */
.pro_ele_Num{
    font-family: 'Montserrat', sans-serif;
    font-size: 1vw;
    position: absolute;
    top: 5%;
    left: 5%;
    margin: 0;
}

/* element description */
.pro_ele_desc{
    font-family: 'Montserrat', sans-serif;
    font-size: 1vw;
    position: absolute;
    right: 0;
    bottom: 15%;
    left: 0;
    margin: 0;
}

/*PROJECT SECTION*/

/* container for the project title, purpose and description */
.project_slide {
    display: none;
    width: 70%;
    height: 100%;
    margin: 0 auto;
    animation-name: fadeIn;
    animation-duration: .5s;
}

.project_1{
    display: block;
}

/* project title */
.project_slide h2{
    font-family: 'Oswald', sans-serif;
    font-size: 3vw;
    font-weight: 300;
    color: #ffffff;
    margin: 0;
    padding: 0 0 1.5vh 0;
}

/* project description */
.project_slide ul{
    text-align: left;
    padding: .5% 0;
    margin: 0;
    color: #002a27;
}

.tech .fa{
    font-size: 1.5vw;
}

.project_slide .title{
    font-size: 1.2vw;
}

.purpose{
    font-family: 'Heebo', sans-serif;
    font-size: 1vw;
    list-style: none;
}

.highlights{
    font-family: 'Heebo', sans-serif;
    font-size: 1vw;
    list-style: none;
    padding: 2% 0;
}

.tech{
    font-family: 'Heebo', sans-serif;
    font-size: 1vw;
    list-style: none;
    padding: 2% 0;
}


/*.project_1_IMG{*/
    /*background: url("../imgs/rogue-fighter-web-app.jpg") no-repeat;*/
    /*background-size: contain;*/
    /*height: 70%;*/
    /*background-position: top center;*/
/*}*/

.project_2_IMG{
    position: relative;
    background: url("../imgs/angular-api-cms.jpg") no-repeat;
    background-size: contain;
    background-position: top center;
    width: 100%;
    height: 50vh;
    overflow-y: hidden;
}

.project_3_IMG{
    position: relative;
    background: url("../imgs/js-calculator.jpg") no-repeat;
    background-size: contain;
    background-position: top center;
    width: 100%;
    height: 50vh;
    overflow-y: hidden;
}

.project_4_IMG{
    position: relative;
    background: url("../imgs/jquery-api-cms.jpg") no-repeat;
    background-size: contain;
    background-position: top center;
    width: 100%;
    height: 50vh;
    overflow-y: hidden;
}

@keyframes fadeIn {
    0%   {opacity: .02}
    50%  {opacity: .05}
    100% {opacity: 1}
}

/*
* Animation for hover on projects
*/

/*Project caption area to be revealed on hover */
.project_caption{
    position: absolute;
    width: 100%;
    height: 15vh;
    line-height: 15vh;
    box-sizing: border-box;
    background: rgba(0,0,0,0.9);
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate(0,-100%);
    transform: translate(0,-100%);
}

/*Project caption area link to be revealed on hover */
.project_caption a{
    position: absolute;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    font-size: 1.5em;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: #cceeeb;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate(0, -200%);
    transform: translate(0, -200%);
}

.project_caption a:hover{
    color: #33bab1;
}

/* move caption area into view on hover */
.project_slide div:hover .project_caption,
.project_slide div:hover .project_caption a{
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
}

/* delay text from text dropping into view within caption area */
.project_slide div:hover .project_caption a{
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
}

/*
***********************************
CONNECT page
***********************************
*/

#connect{
    width: 100%;
    background-color: #33bab1;
}

/* CONNECT content */

#map{
    position: relative;
    width: 100%;
    height: 80vh;
}

.conn_text_area{
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 3;
}

.connect_title{
    font-family: 'Oswald', sans-serif;
    font-size: 5vw;
    font-weight: 700;
    margin: 0;
    text-align: center;
    position: relative;
    top: 5vh;
    color: #C544B4;
    z-index: 3;
}

/*
***********************************
Footer
***********************************
*/

footer{
    width: 100%;
    height: 100%;
    background-color: #007f76;
}

.col_70_footer{
    width: 70%;
    margin: 0 auto;
    padding: 0;
    /*Required for IE
    * IE does not recognize font-size initial, consequently inheriting font-size 0 from .container
    */
    font-size: medium;
}

/* FOOTER content */

.connection_links{
    text-align: center;
}

.connection_links ul{
   margin: 0;
    padding: 0;
}

.connection_link{
    display: inline-block;
    padding: 2% 3% .5% 3%;
}

.connection_link a{
    display: inline-block;
    padding: 0;
    font-size: 4em;
    color: #00a99d;
}


.connection_link a:hover{
    color: #c544b4;
}

.copyRight{
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 1em;
    margin: 0;
    padding: 0 0 .5% 0;
    text-align: center;
    color: #00a99d;
    /*background-color: #007f76;*/
}

/*
***********************************
Overlay
***********************************
*/

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s;
    z-index: 10;
}

/* content within overlay */
.overlay-content{
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
}

.overlay-content a {
    text-decoration: none;
    font-size: 3em;
    color: #00a99d;
    transition: 0.5s;
}

.overlay-content a:hover{
    color: #c544b4;
}

.overlay-content p {
    display: inline-block;
    text-decoration: none;
    font-size: 1.5em;
    color: #00a99d;
    padding: 0 1%;
}

.close_btn{
    position: absolute;
    top: 2%;
    right: 3%;
    font-size: 3em;
    transition: 0.5s;
    color: #00a99d;
}

.close_btn:hover{
    color: #c544b4;
}

/*
***********************************
 ------------> MOBILE <------------
***********************************
*/

@media screen and (max-width: 414px){

/*
***********************************
mobile NAV
***********************************
*/

    /* mobile navigation */

    .brand_text{
        display: none;
    }

    .navLinks{
        margin-right: 3%;
    }

    .navigation li{
        padding: 0 2%;
    }

    .navigation ul a{
        font-size: 4vw;
    }

/*
***********************************
mobile WELCOME page
***********************************
*/

    /* mobile welcome background */
    #welcome{
        position: relative;
        background: url("../imgs/mobile_lab-640x1136.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        background-attachment: fixed;
        width: 100%;
        min-height: 100vh;
    }

/*
***********************************
mobile WHO page
***********************************
*/

    /* mobile WHO heading text */

    #who h1{
        font-size: 1.2em;
        padding: 20% 13% 1% 13%;
    }

    .main_heading{
        font-size: 3em;
    }

    .sub_heading{
        font-size: 1.5em;
    }

    /* mobile WHO computer icon */

    .work_computer{
        width: 50vw;
    }

    /* mobile WHO content text */

    .interest_text{
        padding: 5% 10% 2% 10%;
    }

    /*mobile update 30 to 100%*/
    .col_30{
        display: inline-block;
        text-align: center;
        width: 100%;
        vertical-align: top; /* prevent 2nd column from falling out of place */
        font-size: medium;
    }

    /*update element boxes to be larger for mobile */
    .element_box{
        width: 50vw;
    }

    /* mobile element text box  */
    .center_content h2{
        font-size: 15vw;
    }

    /* mobile element text  */
    .ele_desc{
        font-size: 5vw;
    }

    .ele_Num{
        font-size: 5vw;
        margin: 0;
        top: 5%;
        left: 5%;
    }

    /* mobile caption area */
    .caption{
        height: 15vw;

    }

    /* mobile caption formatting */
    .caption p{
        font-size: 5vw;
        line-height: 5vw;
        padding: 4vw 2vw;
    }

/*
***********************************
mobile WHAT page
***********************************
*/

    /* mobile what_section title */
    .what_heading{
        font-size: 2.5em;
        padding: 3% 0 0 0;
        margin: 0;
    }

    /* mobile opening headline*/
    .what_tag{
        font-size: 2em;
        padding: 2% 15% 2% 15%;
    }

    /* mobile closing headline*/
    .what_closing{
        font-size: 1.7em;
        padding: 1% 0;
    }

    /*mobile closing paragraph*/
    .what_desc {
        font-size: 1em;
        padding: 4% 10%;
        /*padding: 1% 10% 3% 10%;*/
    }

    /* mobile division triangle */

    .rel_container:before{
        border-left: 7vw solid transparent;
        border-right: 7vw solid transparent;
        border-top: 7vw solid #33bab1;
    }

    /* mobile images collage */
    .image_row_1{
        display: block;
        width: 100%;
        height:20vh;
    }

    .rogue_image{
        position: relative;
        display: inline-block;
        width: 100%;
        height: 100%;
        background: url("../imgs/rogue-fighter-icon.png") no-repeat;
        background-size: cover;
        background-position: center;
        background-color: #000000;
        overflow: hidden;
    }

    .lab_image{
        display: none;
    }

    .image_row_2{
        display: block;
        width: 100%;
        height:30vh;
    }

    .vol_image{
        position: relative;
        display: inline-block;
        width: 60%;
        height: 100%;
        background: url("../imgs/voltron.png") no-repeat;
        background-size: cover;
        background-position: center;
        overflow: hidden;
    }

    .arch_image{
        position: relative;
        display: inline-block;
        width: 40%;
        height: 100%;
        background: url("../imgs/archer-playing-card-back.png") no-repeat;
        background-position: top left;
    }

    .casa_image{
     display: none;
    }

    .image_row_3{
        display: block;
        width: 100%;
        height:20vh;
    }

    .labs_card_image{
        position: relative;
        display: inline-block;
        width: 70%;
        height: 100%;
        background: url("../imgs/cjlabs-card.png") no-repeat;
        background-size: cover;
        background-position: center;
        overflow: hidden;
    }

    .cat_a_image{
        position: relative;
        display: inline-block;
        width: 30%;
        height: 100%;
        background: url("../imgs/american-cat.png") no-repeat;
        background-size: cover;
        background-position: center;
        background-color: #00395e;
        overflow: hidden;
    }

    .nexus_image{
        display: none;
    }

    .image_row_4{
        display: block;
        width: 100%;
        height:30vh;
    }

    .pb_droid_image{
        position: relative;
        display: inline-block;
        width: 30%;
        height: 100%;
        background: url("../imgs/imperial-probe-droid-volume.png") no-repeat;
        background-size: cover;
        background-position: center;
        overflow: hidden;
    }

    .trooper_image{
        position: relative;
        display: inline-block;
        width: 70%;
        height: 100%;
        background: url("../imgs/first-order-trooper.jpg") no-repeat;
        background-size: cover;
        background-position: center;
        overflow: hidden;
    }

/*
***********************************
mobile PROJECTS page
***********************************
*/
    /* mobile what_section title */
    .what_heading{
        font-size: 2.5em;
        padding: 3% 0 0 0;
        margin: 0;
    }

    /* mobile Responsive element box for square project icons*/
    .project_element {
        position: relative;
        width: 20vw;
        margin: 0 auto;
        overflow: hidden;
        background: #99ddd8;
        color: #00a99d;
    }

    /* square project icons text */
    /* element title */
    .center_content h3{
        font-size: 5vw;
    }

    /* element number */
    .pro_ele_Num{
        font-size: 4vw;
    }

    /* element description */
    .pro_ele_desc{
        font-size: 2.5vw;
    }

/*
***********************************
mobile CONNECT page
***********************************
*/

    .connect_title{
        font-size: 15vw;
    }

    .copyRight{
        padding: 0 0 5% 0;
    }

}/*
***********************************
 ------------> IPHONE MOBILE <------------
***********************************
*/

@media screen and (max-width: 376px) {

    #welcome{
        position: relative;
        background: url("../imgs/mobile_lab-640x1136.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
        /*safari mobile does not use fixed*/
        background-attachment: scroll;
        width: 100%;
        min-height: 100vh;
    }
}
/*